<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Sign-up page</title>
</head>
<body>
      <form action="#" method="POST">
        <p>Admin Name:</p>
        <input type="text" name="a_name"  required>
      <p>Admin Email:</p>
        <p style="font-size:13px;">NOTE: Enter your work account email !</p>
        <input type="email" name="a_email"  required>
      <p>Password:</p>
      <input type="password" name="a_password"  minlength="4" maxlength="10s" required>
        <p>Confirm Password:</p>
      <input type="password" name="a_c_password"  minlength="4" maxlength="10s" required>
      <input type="submit" value="Sign up">
  </form>
</body>
</html>