<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Login page</title>
</head>
<body>
     <form action="#" method="POST">
    <p>Name:</p>
    <p><input type="text" name="a_name"></p>
    <p>Password:</p>
    <input type="password" id="pwd" name="a_password" minlength="4" maxlength="10s">
    <p>Admin ID:</p>
    <input type="text" name="a_id" minlength="4" required>
    <p>Email:</p>
    <p> <input type="email" name="a_email" placeholder="Type your email" value="{{email if email}}"></p>
    <p><input type="submit" value="Login"></p>
  </form>
</body>
</html>