{%extends "parent.html"%}

{%block head%}
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
{%endblock%}

{%block content%} Books Inventory {%endblock%}

{%block data%}
    <form method="POST" id="form_approve" action="#"></form>
    <table>
      <tr>
        <th>Book ID</th>
        <th>Student ID</th>
        <th>No. Of Books Requested</th>
        <th>Approve</th>
        <th>Deny</th>

      </tr>
        {%if requests %}
            {%for request in requests:%}
                <tr>
                    <td>{{request[0]}}</td>
                    <td>{{request[1]}}</td>
                    <td>{{request[2]}}</td>
                    <td><button type="submit" class="btn btn-success" form="form_approve" name="approve" value="yes">Approve</button></td>
                    <td><button type="submit" class="btn btn-danger" form="form_approve" name="deny" value="no" >Deny</button></td>
                </tr>
            {%endfor%}
        {%else%}
            <P>No Requests Pending !</P>
        {%endif%}

    </table>
{%endblock%}