{%extends 'parent.html'%}

{%block content%} Book details {%endblock%}

{%block data%}
  {%with messages = get_flashed_messages()%}
    {%if messages%}
      {%for msg in messages%}
        <p>{{msg}}</p>
      {%endfor%}
    {%endif%}
  {%endwith%}
<!-- action = "/admindashboard" request should go to admin -->
  <form action="#" method="POST">
    <p>Enter your student ID:</p>
    <p><input type="number" name="student_id" required></p>
    <p>Enter the Book id:</p>
    <p><input type="text" name="book_id" required></p>
     <p>Enter the count:</p>
    <input type="number"  name="book_count" required> <br><br>
    <p><input type="submit" value="Request_Borrow"></p>
  </form>
{%endblock%}