{%extends "parent.html"%}

{%block head%}
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
{%endblock%}
{%block content%} Your Dashboard {%endblock%}

{%block data%}
  {%if db%}
      <table>
        <tr>
          <th>Book ID</th>
          <th>Book Name</th>
          <th>No. of Books Borrowed</th>
          <th>Return Date</th>
          <th>Total Tokens</th>
          <th>Tokens Left</th>
        </tr>
          {%for row in db%}
              <tr>
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>{{row[4]}}</td>
                  <td>{{row[5]}}</td>
              </tr>
          {%endfor%}
      </table>
  {%else%}
    <p>No Books Issued so far !</p>
  {%endif%}

{%endblock%}